# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
obj/

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
out
*.app
*.i*86
*.x86_64
*.hex
test

# Random .c files
test.c
#emain.c
#main.c
.main.c
main
*blabla*

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
imgui.ini
vgcore.*
.gdb*

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Build folders
build/
includes/
.cache/

# Text files
*.txt

# .gitignore file
#.gitignore

# Random folder
.vscode
.idea
cmake-build-debug

# README file
*.md

# LICENSE file
*LICENSE

# Hidden files
.*

# git
git/

# readline
readline.supp

# MiniShell
minishell
.minishell_history
minishell_tester